# created by templar
/debian/changelog
/debian/control
/debian/copyright
/debian/rules

# ignore verride file for templar
/templar_override.ini

# build folders for my packages
/out

# deb package build residue
/build
/.pybuild
/debian/files
/debian/templar.debhelper.log
/debian/templar.postinst.debhelper
/debian/templar.prerm.debhelper
/debian/templar.substvars
/debian/templar/

# python
__pycache__
*.pyc
*.pyo

# templar generated
/.tdefs.config
