# build folders for my packages
/out
/.venv/

# deb package build residue
/build
/.pybuild
/debian/
/*.egg-info/
/setup.py

# python
__pycache__

# node package
/node_modules

# tools
/tools
/tools.stamp

# idea
/.idea/workspace.xml

/package-lock.json
