# created by templar
/debian/changelog
/.attr.config

# build folders for my package
/build.gbp
/build.source
/build.all
/debian/control
/debian/copyright
/debian/changelog

# python
__pycache__
*.pyc
*.pyo
